.gradient-circle {
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, yellow),
      linear-gradient(#262626, #141414);
    animation: rotate 8s linear infinite;
  }
  
  .gradient-circle:before,
  .gradient-circle:after {
    content: " ";
    position: absolute;
    inset: 8px;
    background: linear-gradient(#161616, #262626);
    border-radius: inherit;
  }
  
  .gradient-circle:before {
    background: linear-gradient(45deg, transparent, transparent 40%, yellow);
    filter: blur(32px);
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }