@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


/* scroll bar properties  */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: black;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb:hover{
    background: red;
    border-radius: 10px;
    height: 10px;
}
/* header  */
header{
    background-color: black;
    height: 5vh;
    position: sticky;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul a li{
    cursor: pointer;
    padding: 5px;
}
nav ul a li:hover{
    text-decoration:overline;
}
nav img{
    display: none;
}
@media screen and (max-width:768px){
    header{
        height: fit-content;
    }
    nav ul{
        display: none;
        text-align: right;
    }
    nav img{
        padding: 5px;
        display: block;
        background-color: white;
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width:768px){
    nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95vw;
        list-style: none;
    }    
}

/* zero - contact section through mail  */
.zero{
    display: flex;
    justify-content: center;
    visibility: hidden; 
    width: 99vw;
    height: 95vh;
    position: absolute;
}
.zero .contact{
    z-index: 1;
    width: 90vw;
    height: 90vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}
.contact h1,.contact h3{
    text-align: center;
}
.form{
    display: grid;
    justify-content: center;
    gap: 20px;
}
.form-buttons input{
    outline: none;
    border: none;
}
/* main  */
main{
    background: url(/Media/bg/modern-futuristic-sci-fi-background.jpg) ;
    background-size: 100vw 95vh;
    background-repeat: no-repeat;
    height: 95vh;
    overflow-y: auto;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 180px 50px;
}
#rjimg{
    z-index: 1;
    width: 300px;
    height: 300px;
}
.top-of-eachother{
    position: absolute;
}
.text{
    text-align: center;
    color: white;
    width: fit-content;
}
.white-line-vertical{
    background-color: white;
    height: 30vh;
    max-height: 35vh;
    width: 3px;
    margin-left: 20px;
    margin-right: 20px;
}
.white-line-horizontal{
    display: none;
}
@media screen and (max-width:843px){
    .white-line-vertical{
        display: none;
    }    
    .white-line-horizontal{
        display: block;
        background-color: white;
        height: 3px;
        min-width: 45vw;
        width: 45vw;
        margin: 20px 30px;
    }
    .text h1,.text h3,.text span{
        font-size: 20px;
    }
    .first{        
        padding: 120px 50px;
    }
    /* nav bar  */

}
/* second  */
.second{
    width: 99vw;
    height: fit-content;
    background-color: black;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.language-cards,.design-cards{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
}
.card{
    height: 206px;
    width: 180px;
    background: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: -2px 1px 16px cyan;
}
.card h3{
    text-align: center;
}
.card .img-box img{
    height: 170px;
    width: 180px;
}
.img-box{
    display: flex;
    justify-content: center;
}
.card:hover{
    height: 210px;
    width: 183px;
}
.design-head,.dev-head{
    background: white;
    color: black;
    margin: 5px;
    text-align: center;
    text-shadow: -2px -1px 5px black;
}
@media screen and (max-width:768px){
    .second{
        height: fit-content;
    }
    .card{
        height: 206px;
        width: 180px;
        background: white;
        border-radius: 10px;
        margin: 10px;
    }    
    .card .img-box img{
        height: 170px;
        width: 180px;
    }
}

/* third - project related part  */
.third{
    width: 99vw;
    height: fit-content;
    background-color: transparent;
    padding: 120px 80px;
    box-sizing: border-box;
}
.third-main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third h1,.second h1{
    color: white;
    text-align: center;
    font-size: 10vw;
    text-decoration: overline;
    padding: 20px;
}
.third-main .project-card{
    width: 50vw;
    height: fit-content;
    background-color: white;
    margin: 5px;
}
.project-card:hover{
    border: 2px solid blue;
    cursor: pointer;
}
.project-card h2{
    word-wrap: break-word;
    padding: 15px 8px;
}

@media screen and (max-width:768px) {
    .third h1,.second h1{        
        font-size: 10vw;
    }
        
}



/* footer  */
footer{
    background-color: black;
    height: 30vh;
    display: flex;
    align-items: center;
    bottom: 0;
}
.contact-info{
    color: white;    
    font-size: 16px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-info h4,a{
    font-family: 'Roboto Mono', monospace;
}
.mail a{
    color: white;
    text-decoration: none;
}
.sites a img{
    width: 25px;
}
.copyright{
    text-align: left;
    font-size: 13px;
    font-weight: 100;
    padding-top: 10px;
}
@media screen and (max-width:768px){
    .contact-info{
        font-size: 10px;
    }
}