.txt{
    position: relative;
    color: violet;
    font-size: 30px;
}
.txt-sec:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid chartreuse;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}